.navLinksContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-weight: 500;
  transition: all 150ms ease-in-out;
}

.navLinks {
  position: relative;
  padding: .5rem .25rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navLinks::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  background-color: var(--primary-color);
  position: absolute;
  top: -.5rem;
  left: 0;
  transition: all .3s ease-in-out;
}

.navLinks::after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -.5rem;
  left: 0;
  transition: all .3s ease-in-out;
}

.navLinks:hover::before {
  top: 0;
  height: 2px;
}

.navLinks:hover::after {
  bottom: 0;
  height: 2px;
}

.hamburger {
  display: none;
  height: 2rem;
  width: 2rem;
  color: var(--primary-color);
  transition: color 250ms linear;
}

.hamburger:active {
  color: var(--primary-color-50);
}

@media (max-width: 824px) {
  .navLinks {
    font-size: .9rem;
  }
}

@media (max-width: 716px) {
  .navLinks {
    font-size: .75rem;
  }

  .navLinksContainer {
    gap: 1rem;
  }
}

@media (max-width: 624px) {
  .navLinksContainer {
    width: 7rem;
    position: absolute;
    top: 3rem;
    right: 0;
    display: flex;
    align-items: end;
    flex-direction: column;
    border: 1px solid transparent;
    border-radius: .25rem;
    gap: 0;
    z-index: -25;
    color: transparent;
  }

  .show {
    z-index: 100;
    background-color: white;
    border: 1px solid var(--primary-color);
    padding: .5rem;
    color: black;
  }

  .navLinks {
    width: 100%;
  }

  .navLinksContainer.show .navLinks {
    border-bottom: 1px solid var(--primary-color);
  }

  .navLinksContainer:not(.show) .navLinks {
    border-bottom: 1px solid transparent;
  }

  .navLinksContainer:not(.show) {
    overflow: hidden;
  }

  .hamburger {
    display: block;
  }

  .navLinks:hover::before {
    top: 0;
    height: 0;
  }

  .navLinks:hover::after {
    bottom: 0;
    height: 0;
  }
}